<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuncios</title>
</head>
<body>
    <img src="../Imgs/ENP6.jpg" alt="logotipo de la preparatoria 6" width="150" height="150" align="left">
    <img src="../Imgs/UNAM.png" alt="logotipo de la UNAM" width="150" height="150" align="right"> <br><br><br><br><br><br><br><br>
    <h1 align="center">Anuncios</h1>
    <table>
        <tbody>
            Nombre de profesor o personal:

        </tbody>
    </table> 
</body>
</html>