<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuncios</title>
</head>
<body>
    <img src="../../Imgs/ENP6.jpg" alt="logotipo de la preparatoria 6" width="150" height="150" align="left">
    <img src="../../Imgs/UNAM.png" alt="logotipo de la UNAM" width="150" height="150" align="right"> <br><br><br><br><br><br><br><br>
    <h1 align="center">Anuncios</h1>  <br><br><br>
    <table>
        <tbody>
            <tr>
                <td>Nombre de profesor o profesional:</td>
            </tr>
            <tr>
                <td>Fecha:</td>
            </tr>
            <tr>
                <td>Descripción: <img src="../../Imgs/anuncio1.png" width="150" height="150"></td>
            </tr>
            <tr>
                <td>Comunidad involucrada:</td>
            </tr>
        </tbody>
    </table> 
    <br><br><br>
    <table>
        <tbody>
            <tr>
                <td>Nombre de profesor o profesional:</td>
            </tr>
            <tr>
                <td>Fecha:</td>
            </tr>
            <tr>
                <td>Descripción: <img src="../../Imgs/anuncio2.jpg" width="150" height="150"></td>
            </tr>
            <tr>
                <td>Comunidad involucrada:</td>
            </tr>
        </tbody>
    </table> 
    <br><br><br>
    <table>
        <tbody>
            <tr>
                <td>Nombre de profesor o profesional:</td>
            </tr>
            <tr>
                <td>Fecha:</td>
            </tr>
            <tr>
                <td>Descripción: <img src="../../Imgs/anuncio3.jpg" width="150" height="150"></td>
            </tr>
            <tr>
                <td>Comunidad involucrada:</td>
            </tr>
        </tbody>
    </table> 
    <br><br><br>
    <button>Volver al inicio</button>
    <button>Marcar como leído</button>

    <hr>
    <h2>Pie de página</h2>

</body>
</html>