.cuadropendejopendejo {
    background-color: #d1a11d;
    position: absolute;

    width: 50%;
    height: 20%;
    border-radius: 10px;
    top: 52%;
    left: 25%;
}

.cuadropendejopendejo p {
    padding: 20px;
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}

body{
    margin: auto;
}