body{
    margin:auto;
}
.piedep{
    background-color: #C5DCFF;
    width:100%;
    height: 10%;
    line-height: 30px;
    text-align: center;
    color:#FFFFFF;
}
.contenedor
{
    width:100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
#boton{
    top: 10%;
    display: inline-block;
    width: 50%;
}
.etiqueta
{
    color:#FFFFFF;
}
.boton{
    background-color: #D1A11D;
    color:aliceblue;
    width:50%;
    height: 30px;
    border: #D1A11D;
    border-radius: 20%;
}
#cuadroAmarillo
{
    background-color: #FABE2E;
    width:40%;
    height:200px;
    position:absolute;
    top:50%;
    left: 30%; 
    z-index: -1;
    /* display: flex;
    align-self: center; */
}
#cuadroAzul
{
    text-align: center;
    background-color: #092473;
    width:20%;
    height:330px;
    margin-left: auto;
    margin-right: auto;
}
#titulo
{
    background-color: #D1A11D;
    color:aliceblue;
    text-align:center;
    height:30px;
}