.encabezado{
    color: white;
} 
#contenedor{
    position: absolute;
    top: 30vh;
    margin: auto;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}
#cuadro-blanco{
    justify-content: center;
    background-color: white;
    border-radius: 10%;
    border: 3px solid #555;
    text-align: left;
    width: 50%;
    padding: auto;
}
#texto{
    padding: 30px;
    margin: auto;
}
#piedep{
    top: 130vh !important;
}

.rec{
    width: 92px; 
    height: 550px; 
    border: 3px solid #555;
    float: left;

    background: #D1A11D;
}

.rec2{
    position: relative;
    width: 92px; 
    height: 550px; 
    border: 3px solid #555;
    background: #D1A11D;
   float: right;
}