#encabezado{
    position:relative;
    width:98vw;
    height: 25vh;
    top:0px;
    left:0px;
    padding: 0;
    z-index: 10;

}
/* columnas -
------------------------------------------------------------------------------------------------*/
#colIzquierdo, #colDerecho{
    width: 10vw;
    height:100vh;
    background-color:#FABE2E;
    top:26.5vh;
    position:absolute;
   

}
#colDerecho{
    right:0vw;

}
/*Main
---------------------------*/
#contenedor{
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;

}
h4{
    text-align: center;
}
img{
    position: relative;
    top:2vh;
    left:3vw;
}
.materia{
    
    background-color: #FFFFFF;
    width:20vw;
    height: 50vh;
    margin: 14px;
    align-self: center;
}
.tareas{
    position: relative;
    width: 20vw;
    height: 12vh;
    bottom:-3vh;
    background-color:#a1a1a1;
    overflow: auto;
}
#main{
    width:80vw;
    height: 100vh;
    background-color:#092473;
    position:absolute;
    left:10.6vw;
    top:26.5vh;
    padding: 0;
    display: flex;
}
#titulo{
    background-color:#D1A11D;
    color:#FFFFFF;
    text-align: left;
    width:10vw;
    height:7vh;
    position: absolute;
    left: 2vw;
    top:5vh;
    border-radius: 5px;
}

/* pie de página
--------------------------------*/
#piedep{
    background-color: #C5DCFF;
    width:100vw;
    height:2%;
    line-height: 30px;
    text-align: center;
    color:#FFFFFF;
    position:absolute;
    top:125vh;
}

















