<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    
</head>
<body>
    <img src="../../Imgs/ENP6.jpg" alt="logotipo de la preparatoria 6" width="150" height="150" align="left">
    <img src="../../Imgs/UNAM.png" alt="logotipo de la UNAM" width="150" height="150" align="right"> <br><br><br><br><br><br><br><br>
    <button type="button" align="left">Volver al Inicio</button><button type="button" align="right">Anuncios</button>
    <h1 align="center">Calendario</h1>
    <img src="../../Imgs/Imagen2.png" alt="imagen temporal del calendario" width="500" height="500" align="left">
    <img src="../../Imgs/Imagen3.png" alt="imagen temporal de la descripcion" width="500" height="500" align="right"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br> <br><br><br><br><br>
    <button type="button" align="center">Asistir</button><button type="button" align="center">Rechazar</button> <br><br><br>
    <h2 align="center">Pie de página (footer)</h2>
</body>
</html>