<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorcado</title>
    <link rel="stylesheet" href="../Estilo/statics/styles/ahorcado.css">
</head>
<body id="teclado">
    <div id="contenedor">
        <header id="header">Esta es tu ahorcado</header>
        <div id="correctas">

        </div>
        <div id="tiempo">

        </div>

        <div id="juego">
            <div id="pregunta">
                ¡Juega ahora!
            </div>
            <div id="imagen">
            </div>
    
           <div id="botones" style="display:none">
                <div class="btn" id="ahorcado"">
    
                </div>
                <div class="btn" id="prueba"">
                    <!-- se debe de quitar en el juego final -->
                </div>
                <div id="dibujo">
                    <!-- <img src="../Imgs/juegos/ahorcado/ahorcado0.png" alt="dibujo ahorcado" height="200px" width="200px"> -->
                </div>
            </div>
            
        </div>
        
        <div id="iniciar">
            <button id="iniciar">Jugar</button>
        </div>
        <div id="terminar" style="display:none">
            <form action="./PagInicio.php">
                <button  class="btn" id="enviar">Volver al inicio</button>
            </form>
        </div>
        
    </div>

    <script src="../dynamics/js/ahorcado.js"></script>
</body>
</html>