<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asignación de actividades</title>
        <link rel="stylesheet" href="../Estilo/statics/styles/estilos.css">
        <link rel="stylesheet" href="../Estilo/statics/styles/estilos.css">
    </head>
    <body>
        <form enctype="multipart/form-data" id="form" method="post" class="fondo" >
            <div class="rec" id="rec1"></div>
            <div class="rec" id="rec2"></div>
    
            <div class="titulo" id="titulo3">
                <label for="titulo">Titulo:
                    <input type="text" name="titulo">
                </label> <br/><br/>
            </div>
            <div class="etiqueta" id="ee">
                <label>
                    Puntaje: 
                    <input name="puntaje" type="number" min="1" max="100">
                </label>
            </div>
            <div class="etiqueta" id="ee7">
                <label for="Tema">Tema:
                    <input type="text" name="tema" >
                </label> <br/><br/>
            </div>
          
            <div class="etiqueta" id="ee9">
               
                <label for="fecha">Fecha de entrega: 
                    <input type="date" id="fecha" name="fecha" required>
                </label><br><br>

            </div>
            <div class="etiqueta" id="eeA1">
                
                <label for="hora">Hora de entrega: 
                    <input type="time" id="hora" name="hora" required>
                </label><br><br>
    
            </div>
            <div class="etiqueta" id="eeA2">
               
                <label for="rubrica">Rúbrica:
                    <textarea name="rubrica" rows="5" cols="50"></textarea>
                </label> <br/><br/>
            </div>

            <div class="etiqueta" id="eeA3">
                <p>Materiales de consulta:</p>
            </div>
            <div class="etiqueta" id="eeA4">
                <label for="formatoEntrega">Formato de entrega: 
                    <select name="formatoEntrega">
                        <option value="PDF">PDF</option>
                        <option value="Documento escaneado">Documento escaneado</option>
                        <option value="PPTX">PPTX</option>
                        <option value="Opcional">Opcional</option>
                        <option value="World">World</option>
                    </select>
                </label><br/><br/>
            </div>
            <div class="etiqueta" id="eeA5">
                <label for="linkConsulta">Subir link:
                    <input type="text" name="link">
                </label> <br/><br/>
            </div>
            <div class="etiqueta" id="eeA6">
                <label for="linkConsulta">Subir archivo:
                    <input type="file">
                </label> <br/><br/>
            </div>
            <div class="ind" id="inda5">
                   <label for="texto" name="arch">Indicaciones:
                    <textarea name="indicaciones" rows="5" cols="50"></textarea>
                </label> <br/><br/>
            </div>
            <div class="ind" id="inda6"></div>
            <div class="cubito" id="cubito1"></div>
            <div class="cubito" id="cubito2"></div>
            <div class="cubito" id="cubito3"></div>
            <div class="boton" id="boton8"> <button id="btn_enviar" type="submit">Asignar</button></div>
    
        </form>
    <script src="../dynamics/js/crearAct.js"></script>
    </body>
</html>
