<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación de actividades</title>
</head>
<body>
    <figure>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Escudo_enp_6.svg/1200px-Escudo_enp_6.svg.png" alt="logotipo de la preparatoria 6" width="150" height="150" align="left">
        <img src="https://arquitectura.unam.mx/uploads/8/1/1/0/8110907/_2634443.png" alt="logotipo de la UNAM" width="150" height="150" align="right">
        <br><br><br><br><br><br><br><br>
    </figure>
    <header><strong>Asignación de actividades</strong></header>
    <section>
        <label>
            Puntaje: 
            <input name="puntaje" type="number" min="1" max="100">
        </label>

        <label for="Tema">Tema:
            <input type="text">
        </label> <br/><br/>

        <label for="indicaciones">Indicaciones:
            <textarea name="indicaciones" rows="5" cols="50"></textarea>
        </label> <br/><br/>

        <label for="dirgido">Para: 
            <select name="dirgido">
                <option value="666">Todos los alumnos</option
                <option value="	402	">	402	</option>
                <option value="	403	">	403	</option>
                <option value="	404	">	404	</option>
                <option value="	405	">	405	</option>
                <option value="	406	">	406	</option>
                <option value="	407	">	407	</option>
                <option value="	408	">	408	</option>
                <option value="	409	">	409	</option>
                <option value="	410	">	410	</option>
                <option value="	411	">	411	</option>
                <option value="	412	">	412	</option>
                <option value="	413	">	413	</option>
                <option value="	414	">	414	</option>
                <option value="	415	">	415	</option>
                <option value="	416	">	416	</option>
                <option value="	417	">	417	</option>
                <option value="	451	">	451	</option>
                <option value="	452	">	452	</option>
                <option value="	453	">	453	</option>
                <option value="	454	">	454	</option>
                <option value="	455	">	455	</option>
                <option value="	456	">	456	</option>
                <option value="	457	">	457	</option>
                <option value="	458	">	458	</option>
                <option value="	459	">	459	</option>
                <option value="	460	">	460	</option>
                <option value="	461	">	461	</option>
                <option value="	462	">	462	</option>
                <option value="	463	">	463	</option>
                <option value="	464	">	464	</option>
                <option value="	465	">	465	</option>
                <option value="	466	">	466	</option>
                <option value="	501	">	501	</option>
                <option value="	502	">	502	</option>
                <option value="	503	">	503	</option>
                <option value="	504	">	504	</option>
                <option value="	505	">	505	</option>
                <option value="	506	">	506	</option>
                <option value="	507	">	507	</option>
                <option value="	508	">	508	</option>
                <option value="	509	">	509	</option>
                <option value="	510	">	510	</option>
                <option value="	511	">	511	</option>
                <option value="	512	">	512	</option>
                <option value="	513	">	513	</option>
                <option value="	514	">	514	</option>
                <option value="	515	">	515	</option>
                <option value="	516	">	516	</option>
                <option value="	517	">	517	</option>
                <option value="	518	">	518	</option>
                <option value="	551	">	551	</option>
                <option value="	552	">	552	</option>
                <option value="	553	">	553	</option>
                <option value="	554	">	554	</option>
                <option value="	555	">	555	</option>
                <option value="	556	">	556	</option>
                <option value="	557	">	557	</option>
                <option value="	558	">	558	</option>
                <option value="	559	">	559	</option>
                <option value="	560	">	560	</option>
                <option value="	561	">	561	</option>
                <option value="	562	">	562	</option>
                <option value="	563	">	563	</option>
                <option value="	564	">	564	</option>
                <option value="	601	">	601	</option>
                <option value="	602	">	602	</option>
                <option value="	603	">	603	</option>
                <option value="	604	">	604	</option>
                <option value="	605	">	605	</option>
                <option value="	606	">	606	</option>
                <option value="	607	">	607	</option>
                <option value="	608	">	608	</option>
                <option value="	609	">	609	</option>
                <option value="	610	">	610	</option>
                <option value="	611	">	611	</option>
                <option value="	612	">	612	</option>
                <option value="	613	">	613	</option>
                <option value="	614	">	614	</option>
                <option value="	615	">	615	</option>
                <option value="	616	">	616	</option>
                <option value="	617	">	617	</option>
                <option value="	618	">	618	</option>
                <option value="	619	">	619	</option>
                <option value="	651	">	651	</option>
                <option value="	652	">	652	</option>
                <option value="	653	">	653	</option>
                <option value="	654	">	654	</option>
                <option value="	655	">	655	</option>
                <option value="	656	">	656	</option>
                <option value="	657	">	657	</option>
                <option value="	658	">	658	</option>
                <option value="	659	">	659	</option>
                <option value="	660	">	660	</option>
                <option value="	661	">	661	</option>
                <option value="	662	">	662	</option>
                <option value="	663	">	663	</option>
                <option value="	664	">	664	</option>
            </select>
        </label><br/><br/>

        <label for="fecha">Fecha de entrega: 
            <input type="date" id="fecha" name="fecha" required>
        </label><br><br>

        <label for="hora">Hora de entrega: 
            <input type="time" id="hora" name="hora" required>
        </label><br><br>

        <label for="texto">Indicaciones:
            <textarea name="indicaciones" rows="5" cols="50"></textarea>
        </label> <br/><br/>
       
        <label for="rubrica">Rúbrica:
            <textarea name="rubrica" rows="5" cols="50"></textarea>
        </label> <br/><br/>

        <label for="formatoEntrega">Formato de entrega: 
            <select name="formatoEntrega">
                <option value="1">PDF</option>
                <option value="2">Documento escaneado</option>
                <option value="3">PPTX</option>
                <option value="4">Opcional</option>
            </select>
        </label><br/><br/>

        <h3>Materiales de consulta</h3>
        <label for="archivoConsulta">Subir archivo:
            <input type="file">
        </label> <br/><br/>
        <label for="linkConsulta">Subir link:
            <input type="text">
        </label> <br/><br/>
        <button type="button">Guardar como borrador</button>
        <button type="submit">Asignar</button>
    </section>
</body>
</html>