<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilo/statics/styles/estilos.css">
    <link rel="stylesheet" href="../Estilo/statics/calendario.css">
    <title>calendario</title>
</head>
<body>
    <header>
        <div class="pidoperdon">
            <img src="./statics/styles/pidoperdon.png" width="100%" height="20%" alt=""> 
        </div>
    </header>
    <div class="fondo">

        <div class="titulo" id="titulo2">
            <p>Calendario</p>
        </div>
        <div class="cuad" id="cuad1">
            <div class="c1" id="cc"></div>
            <div class="c1" id="cca">
                <p>Mes</p>
            </div>
        </div>
        <div class="cuad" id="cuad2">
            <div class="c1" id="ccb"></div>
        </div>

        <div class="rec" id="rec1"></div>
        <div class="rec" id="rec2"></div>


        <div><button class="salir" id="salir1">Anuncios</button></div>
        <div><button class="salir" id="volver_inicio">Volver a inicio</button></div>
        <div><button class="boton" id="boton3">asistir</button></div>
        <div><button class="boton" id="boton4">rechazar</button></div>
    </div>
    <script src="../dynamics/js/calendario.js"></script>
</body>
</html>    