<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilo/statics/styles/estilos.css">
    <link rel="stylesheet" href="../Estilo/calendario.css">
    <title>calendario</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <img src="../Imgs/encabezado.png" width="100%" height="20%" alt=""> 
        </div>
    </header>
    <div class="fondo">

        <div class="titulo" id="titulo2">
            <p>Calendario</p>
        </div>
        <div class="cuad" id="cuad1">
            <div class="c1" id="cc"> 
                <table border = "3">
                    <thead>
                        <th>Domingo</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sabado</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="domingo semana1 dia"></td>
                            <td class="lunes semana1 dia"></td>
                            <td class="martes semana1 dia"></td>
                            <td class="miercoles semana1 dia"></td>
                            <td class="jueves semana1 dia"></td>
                            <td class="viernes semana1 dia"></td>
                            <td class="sabado semana1 dia" ></td>

                        </tr>
                        <tr>
                            <td  class="domingo semana2 dia"></td>
                            <td  class="lunes semana2 dia"></td>
                            <td  class="martes semana2 dia"></td>
                            <td  class="miercoles semana2 dia"></td>
                            <td  class="jueves semana2 dia"></td>
                            <td  class="viernes semana2 dia"></td>
                            <td  class="sabado semana2 dia"></td>
                        </tr>
                        <tr>
                            <td class="domingo semana3 dia"></td>
                            <td class="lunes semana3 dia"></td>
                            <td class="martes semana3 dia"></td>
                            <td class="miercoles semana3 dia"></td>
                            <td class="jueves semana3 dia"></td>
                            <td class="viernes semana3 dia"></td>
                            <td class="sabado semana3 dia"></td>
                        </tr>
                        <tr>
                            <td  class="domingo semana4 dia"></td>
                            <td  class="lunes semana4 dia"></td>
                            <td  class="martes semana4 dia"></td>
                            <td  class="miercoles semana4 dia"></td>
                            <td class="jueves semana4 dia"></td>
                            <td class="viernes semana4 dia"></td>
                            <td class="sabado semana4 dia"></td>
                        </tr>
                        <tr>
                            <td  class="domingo semana5 dia"></td>
                            <td  class="lunes semana5 dia" ></td>
                            <td  class="martes semana5 dia"></td>
                            <td  class="miercoles semana5 dia"></td>
                            <td  class="jueves semana5 dia"></td>
                            <td  class="viernes semana5 dia"></td>
                            <td  class="sabado semana5 dia"></td>
                        </tr>
                        <tr>
                            <td  class="domingo semana6 dia"></td>
                            <td  class="lunes semana6 dia" ></td>
                            <td  class="martes semana6 dia"></td>
                            <td  class="miercoles semana6 dia"></td>
                            <td  class="jueves semana6 dia"></td>
                            <td  class="viernes semana6 dia"></td>
                            <td  class="sabado semana6 dia"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="c1" id="cca">
                <p id="mes">ENERO</p>
            </div>
        </div>
        <div class="cuad" id="cuad2">
            <div class="c1" id="ccb"></div>
        </div>

        <div class="rec" id="rec1"></div>
        <div class="rec" id="rec2"></div>


        <div><button class="salir" id="salir1">Anuncios</button></div>
        <div><button class="salir" id="volver_inicio">Volver a inicio</button></div>
        <div><button class="boton" id="boton3">asistir</button></div>
        <div><button class="boton" id="boton4">rechazar</button></div>
    </div>
    <script src="../dynamics/js/calendario.js"></script>
</body>
</html>    