<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea un juego</title>
    <link rel="stylesheet" href="../Estilo/statics/styles/crear_juego.css">
</head>
<body #fondo>
    <header>Crea tu juego</header>
    <div> ¡Recuerda no dejar espacios en blanco después de anotar las respuestas! </div>
    <div id="contenedor-juego">
        <form id="form-pregunta" action="../dynamics/datosJuego.php" method="post" enctype="multipart/form-data" >
            <div id="pregunta1">
                <h1>Pregunta 1</h1>
                <div class="campo-form">
                    <label>Pregunta</label> 
                    <input type="text" name="pregunta" id="pregunta" placeholder="Pregunta">
                </div>
                <div class="campo-form">
                    <label>Respuesta correcta</label> 
                    <input type="text" name="res1-1" id="res1" placeholder="Respuesta correcta">
                </div>
                <div class="campo-form">
                    <label>Respuesta incorrecta</label> 
                    <input type="text" name="res2-1" id="res2" placeholder="Respuesta incorrecta">
                </div>
                <div class="campo-form">
                    <label>Respuesta incorrecta</label> 
                    <input type="text" name="res3-1" id="res3" placeholder="Respuesta incorrecta">
                </div> <br> 
                <div class="campo-form">
                    <label>Imagen pregunta</label> 
                    <input class="archivo" type="file" name="img1" id="imagen">
                </div> <br> 
                
            </div>
            <!-- Estas van al final de las preguntas -->
            <label id="nota"> ¿Está listo tu juego? </label>
            <button class="boton" id="btn-enviar"> Juego terminado </button> <br> <br> 
            <label for="fondo">Cambiar la imagen de fondo </label>
                <input type="file" name="fondo" id="imagen-fondo">
            <br> <br>
        </form>
        
        <button class="boton" id="btn-agregar"> Agregar pregunta </button>
    </div>
    <form action="./PagInicio.php">
        <button class="salir" class="boton" class="btn" id="enviar">Volver al inicio</button>
    </form>
    <footer class="piedep">
        <p>Ubicación:Corina 3, Del Carmen, Coyoacán, 04100 Ciudad de México, CDMX<br>
         Créditos: Equipo 7: Julieta Flores, Daniela Cardenas, Santiago Gónzalez</p>
    </footer>
    <script src="../dynamics/js/crear_juego.js"></script>

</body>
</html>