<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="statics/styles/estilos.css">
    <title>Entrega de actividades</title>
</head>
<body>
    <header>
        <div class="pidoperdon">
            <img src="./statics/styles/pidoperdon.png" width="100%" height="20%" alt=""> 
        </div>
    </header>
    <div class="fondo">
        <div class="rec" id="rec1"></div>
        <div class="rec" id="rec2"></div>

        <div class="titulo" id="titulo3">
            <p>titulo de la actividad</p>
        </div>
        <div class="etiqueta" id="ee">
            <p>Puntaje: /xxx</p>
        </div>
        <div class="etiqueta" id="ee2">
            <p>Forma de Entrega</p>
        </div>
        <div class="etiqueta" id="ee3">
            <p>Entrega:</p>
        </div>
        <div class="etiqueta" id="ee4">
            <p>Dias restantes</p>
        </div>
        <div class="ind">
            <p>Inidicaciones:</p>
        </div>
        <div class="ind" id="ind2">
            <div class="ind" id="inda">
                <div class="ind" id="inda1">
                    <p>Subir link:</p>
                </div>
                <div class="ind" id="inda2">
                    <p>Escribir link:</p>
                </div>
                <div class="ind" id="inda3">
                    <p>Escribir:</p>
                </div>
                <div class="ind" id="inda4">
                    <p>A entregar:</p>
                </div>
                <button><div class="boton" id="boton5">volver a inicio</div></button>
                <button><div class="boton" id="boton6">volver a inicio</div></button>
            </div>
        </div>
        <div class="etiqueta" id="ee5">
            <p>Rúbrica:</p>
        </div>
        <div class="etiqueta" id="ee6">
            <p>Comentarios:</p>
        </div>
    </div>
</body>
</html>