<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilo/statics/styles/estilo.css">
    <link rel="stylesheet" href="../Estilo/entrega de actividades.css">
    <title>Entrega de actividades</title>
</head>
<body>
    <header>
        <div class="img-encabezado">
             <img src="../Imgs/encabezado.png" width="100%" height="12%" alt="encabezado"> 
        </div>
     </header>
     <div class="fondo">
        <aside>
            <div class="rec">
            </div>
        </aside>
            <div class="rec2">
            </div> 
       <div id="contenedor-encabezado">
           <div id="encabezado">
               <p>Entrega de actividad</p>
           </div>
       </div>
       <div id="contenedor-contenido">
            <div class="etiqueta" id="ee">
            <p>Puntaje: /xxx</p>
            </div>
            <div class="etiqueta" id="ee2">
                <p>Forma de Entrega</p>
            </div>
            <div class="etiqueta" id="ee3">
                <p>Entrega:</p>
            </div>
            <div class="etiqueta" id="ee4">
                <p>Dias restantes</p>
            </div>
            <div class="ind">
                <p>Inidicaciones:</p>
            </div>
            <div class="ind" id="ind2">
                <div class="ind" id="inda">
                    <div class="ind" id="inda1">
                        <p>Subir link:</p>
                    </div>
                    <div class="ind" id="inda2">
                        <p>Escribir link:</p>
                    </div>
                    <div class="ind" id="inda3">
                        <p>Escribir:</p>
                    </div>
                    <div class="ind" id="inda4">
                        <p>A entregar:</p>
                    </div>
                    <button><div class="boton" id="boton5">volver a inicio</div></button>
                    <button><div class="boton" id="boton6">volver a inicio</div></button>
                </div>
            </div>
            <div class="etiqueta" id="ee5">
                <p>Rúbrica:</p>
            </div>
            <div class="etiqueta" id="ee6">
                <p>Comentarios:</p>
            </div>  
            <div>
                <form action="../templates/PagInicio.php">
                    <button class="salir">Volver al Inicio</button>
                </form>
            </div>
        </div>
    </div>
    <footer id="piedep">
        <p>Ubicación: Corina 3, Del Carmen, Coyoacán, 04100 Ciudad de México, CDMX<br>
            Créditos: Equipo 7: Julieta Flores, Daniela Cárdenas, Santiago Gónzalez</p>
   </footer>
</body>
</html>