<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Entrega de actividades</title>
    </head>
    <body>
        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Escudo_enp_6.svg/1200px-Escudo_enp_6.svg.png" alt="logotipo de la preparatoria 6" width="150" height="150" align="left">
            <img src="https://arquitectura.unam.mx/uploads/8/1/1/0/8110907/_2634443.png" alt="logotipo de la UNAM" width="150" height="150" align="right">
            <br><br><br><br><br><br><br><br>
        </figure>
        <header><strong>Entrega de actividades</strong></header>
        <main>
            <section>
                <article>Puntaje: </article>
                <article>Forma de entrega</article>
                <article>Indicaciones</article>
                <article>Rúbrica: </article>
                <article>Comentarios: </article>
            </section>
            </body>
        </main>

        <aside>
            <section>
                <article>Entrega: dd/mm/aaaa hrs:min:s<br/><br/>x Días restantes </article>
                <label for="archivo">Subir archivo:
                    <input type="file">
                </label> <br/><br/>
                <label for="link">Subir link:
                    <input type="text">
                </label> <br/><br/>
                <label for="texto">Comentario:
                    <textarea name="comentario" rows="5" cols="50"></textarea>
                </label> <br/><br/>
                <div>Visualización archivo: </div> <br/><br/>
                <button type="button">Volver a inicio</button>
                <button type="submit">Entregar</button> 
            </section>
        </aside>
        <footer>
            <p>
                Información de contacto.
            </p>
        </footer>
    </body>
</html>