<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilo/statics/styles/estilo.css">
    <link rel="stylesheet" href="../Estilo/foro.css">
    <title>Foro</title>
</head>
<body>
    <header>
       <div class="img-encabezado">
            <img src="../Imgs/encabezado.png" width="100%" height="12%" alt="encabezado"> 
       </div>
    </header>
    <div class="fondo">
        <aside>
            <div class="rec">
            </div>
        </aside>
            <div class="rec2">
            </div> 
       <div id="contenedor-encabezado">
           <div id="encabezado">
               <p>Foro de preguntas comunes respecto a cuestiones administrativasl</p>
           </div>    
       </div>
       <span id="filtradoF">Filtrado:
       <input id="busqueda" placeholder="Ingresa un término"/></span>
       <div>
        <form id="preguntaNueva">
            <h3>Ingresa tu pregunta</h3>
            <textarea name="pregunta"></textarea>
            <input type="file" name="arch">
            
             <select  name="tipoduda" id="tipoduda"   > 
                 <!-- style="display:none" -->
                 <option disabled>Tipo de duda</option>
                 <option value=1>Normal</option>
                 <option value=2>Frecuente</option>
             </select>
            <button id="enviar">Enviar</button>
         </form>                 
    </div>
        <div>
            <form action="../templates/PagInicio.php">
                <button class="salir">Volver al Inicio</button>
            </form>
            <div>
                <button class="salir" id="frecuente">Preguntas frecuentes</button>
            </div>
            <div>
                <button class="salir" id="normal" style="display: none">Preguntas normales</button>
            </div>
        </div>
        <div class="Cuadro-blanco" >
            <div class="indice" style="display: none;" >
                <center><h1 id="indice" style="background-color: #092473">ÍNDICE</h1></center>
            </div>
            <div id="foro" >
                <!-- <p>Foro dudas</p>
                <p>-</p>
                <p>-</p> -->
            </div>
            <div id="foroFrecuente" >
                <!-- <p>Foro dudas</p>
                <p>-</p>
                <p>-</p> -->
            </div>
            
        </div>
    </div>
    <form id="resp" style="display: none;">
        <h3>Ingresa tu respuesta</h3>
        <textarea type="text" name="respuesta"></textarea>
        <input type="file" name="arch">
        <button id="enviar_res">Enviar</button>
    </form>
    <form id="modif" style="display: none;">
        <h3>Ingresa tu modificación</h3>
        <textarea  name="modText" id="modText" id></textarea>
        <input type="file" name="modArch">
        <button id="enviar_mod">Enviar</button>
    </form>
    

    </div>
        <footer id="piedep">
        <p>Ubicación: Corina 3, Del Carmen, Coyoacán, 04100 Ciudad de México, CDMX<br>
            Créditos: Equipo 7: Julieta Flores, Daniela Cárdenas, Santiago Gónzalez</p>
   </footer>
    <script src="../dynamics/js/foro.js"></script>
</body>
</html>