<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilo/statics/styles/estilo.css">
    <link rel="stylesheet" href="../Estilo/juegos.css">
    <title>Juegos</title>
</head>
<body>

    <header>
        <div >
             <img src="../Imgs/encabezado.png" width="100%" height="12%" alt="encabezado"> 
        </div>
     </header>
     <div class="fondo">
        <aside>
            <div class="rec">
            </div>
        </aside>
            <div class="rec2">
            </div> 
       <div id="contenedor-encabezado">
           <div id="encabezado">
               <h1>Juegos educativos</h1>
           </div>
       </div>
        <div class="cuad" id="contenedor" style="background-color: #092473">
            <div class="c1">Juego</div>
            <div class="c2">Juego 2</div>
            <div class="c3">Juego 3</div>
            <div class="c4">Juego 4</div>
        </div>
        <div>
            <form action="../templates/PagInicio.php">
                <button class="salir">Volver al Inicio</button>
            </form>
        </div>
        <!-- <div><button class="num"></button></div> -->
    
    </div>
    <footer id="piedep">
       <p>Ubicaación:Corina 3, Del Carmen, Coyoacán, 04100 Ciudad de México, CDMX<br>Contactos:<br>
        Créditos: Equipo 7: Julieta Flores, Daniela Cardenas, Santiago Gónzalez, Andrés Rojas</p>
   </footer>

    
</body>
</html>

<!-- Andréees, cambia los nombres y lo del css porfi  -Dani -->

