<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Material estudio</title>
    </head>
    <body>
        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Escudo_enp_6.svg/1200px-Escudo_enp_6.svg.png" alt="logotipo de la preparatoria 6" width="150" height="150" align="left">
            <img src="https://arquitectura.unam.mx/uploads/8/1/1/0/8110907/_2634443.png" alt="logotipo de la UNAM" width="150" height="150" align="right">
            <br><br><br><br><br><br><br><br>
        </figure>
        <header><strong>Tablón para compartir material de estudio</strong></header>
        <main>
            <section>
                <label for="nombre">Nombre:
                    <input type="text">
                </label> <br/><br/>

                <label for="apellidos">Apellidos:
                    <input type="text">
                </label> <br/><br/>

                <label for="ocupacion">Ocupacion: 
                    <select name="ocupacion">
                        <option value="1">Alumno</option>
                        <option value="2">Profesor</option>
                    </select>
                </label><br/><br/>

                <label for="grado">Grado: 
                    <select  name="grado" >
                        <option disabled>Grado actual:</option>
                        <option value="4">4°</option>
                        <option value="5">5°</option>
                        <option value="6">6°</option>
                    </select>
                </label>
            
                <label for="materia">Materia: 
                    <select name="ocupacion">
                        <option value="1400">Matemáticas IV</option>
                        <option value="1401">Física III</option>
                        <option value="1402">Lengua Española</option>
                        <option value="1403">Historia Universal</option>
                        <option value="1404">Lógica</option>
                        <option value="1405">Geografía</option>
                        <option value="1406">Dibujo II</option>
                        <option value="1407">Lengua Extranjera Inglés IV</option>
                        <option value="1408">Lengua Extranjera Francés IV</option>
                        <option value="1409">Estética</option>
                        <option value="1410">Educación Física IV</option>
                        <option value="1411">Orientación Educativa IV</option>
                        <option value="1412">Informática</option>

                        <option value="1500">Matemáticas V</option>
                        <option value="1501">Química III</option>
                        <option value="1502">Biología IV</option>
                        <option value="1503">Educación para la Salud</option>
                        <option value="1504">Historia de México II</option>
                        <option value="1505">Etimologías Grecolatinas</option>
                        <option value="1506">Lengua Extranjera Inglés V</option>
                        <option value="1507">Lengua Extranjera Francés V</option>
                        <option value="1508">Lengua Extranjera Italiano I</option>
                        <option value="1509">Lengua Extranjera Alemán I</option>
                        <option value="1510">Lengua Extranjera Inglés I</option>
                        <option value="1511">Lengua Extranjera Francés I</option>
                        <option value="1512">Ética</option>
                        <option value="1513">Educación Física V</option>
                        <option value="1514">Estética</option>
                        <option value="1515">Orientación Educativa V</option>
                        <option value="1516">Literatura Universal</option>

                        <option value="1601">Derecho</option>
                        <option value="1602">Literatura Mex. e Iberoam.</option>
                        <option value="1603">Inglés VI</option>
                        <option value="1604">Francés VI</option>
                        <option value="1605">Alemán II</option>
                        <option value="1606">Italiano II</option>
                        <option value="1607">Inglés II</option>
                        <option value="1608">Francés II</option>
                        <option value="1609">Psicología</option>
                        <!-- faltan agregar todas las estéticas específicas y las de área-->
                    </select>
                </label><br/><br/>

                <label for="noCuenta_RFC"> No. de cuenta o RFC
                    <input name="no.Cuenta o RFC" type="text">  <!-- dos diferentes para num de cuenta o RFC? no pueden compartir type-->
                </label> <br/><br/>

                <label for="archivo">Subir archivo:
                    <input type="file">
                </label> <br/><br/>

                <label for="palabrasClave">Plabras clave:
                    <textarea name="palabrasClave" rows="2" cols="50"></textarea>
                </label> <br/><br/>

                <label for="descipción">Descripción:
                    <textarea name="descipción" rows="5" cols="50"></textarea>
                </label> <br/><br/>

                <button type="button">Volver a inicio</button>
                <button type="submit">Subir archivo</button>
            </section>
        </main>
        <footer>
            <p>
                Información de contacto.
            </p>
        </footer>
    </body>
</html>