<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilo/PagInicio.css">
    <title>Aula virtual Prepa 6</title>
</head>
<body>
    <header>
        <div>
             <img src="../Imgs/encabezado.png" width="100%" height="12%" alt="encabezado"> 
        </div>
     </header>
    <hr/>
    <nav>
        <a>Calendario<br/><img src="../Imgs/calendario.jpg" alt="calendario" width="60" height="40" /></a><br/>
        <a>Anuncios</a><br/>
        <a>Foro de dudas</a><br/>
        <a>Juegos educativos</a><br/>
    </nav>
    <hr/>
    <main>
        <h1>Bienvenidos a ENP 6</h1>
        <img src="../Imgs/ImagenPrepa.jpg" alt="Prepa6"/><br/>
        <p>Fotografías</p><br/>
    </main>
    <hr/>
    <nav>
        <p>Ingresa <br/>
        <a href="./Inicio.html">Alumno</a><br/>
        <a href="./Inicio.html">Profesor</a><br/></p>
        <a href="./FormRegistro.html">Registro</a><br/>
    </nav>
    <hr/>
    <footer class="piedep">
        <p>Ubicaación:Corina 3, Del Carmen, Coyoacán, 04100 Ciudad de México, CDMX<br>Contactos:<br>
         Créditos: Equipo 7: Julieta Flores, Daniela Cardenas, Santiago Gónzalez, Andrés Rojas</p>
    </footer>
</body>
</html>