<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../Estilo/statics/styles/estilo.css">
    <link rel="stylesheet" href="../Estilo/perfil.css">
</head>
<body>
    <header>
        <div >
             <img src="../Imgs/encabezado.png" width="100%" height="12%" alt=""> 
        </div>
     </header>
     <div class="fondo">
         <aside>
             <div class="rec">
             </div>
         </aside>
             <div class="rec2">
             </div> 
        <div id="contenedor-encabezado">
            <div id="encabezado">
                <h1>Perfil</h1>
            </div>
        </div>
            

         <div>
             <form action="../templates/PagInicio.php">
                 <button class="salir">Volver al Inicio</button>
             </form>
         </div>
         <main id="contenedor">
            <div id="cuadro-blanco">
                <div id="texto">
                    <div>Nombre: </div><br/>
                    <div>Apellidos: </div><br/>
                    <div>Nombre de usuario: </div><br/>
                    <div>Rol: </div><br/>
                    <div>Grupo(s): </div><br/>
                </div>
            </div>
         </main>
         <!-- <div><button class="num"></button></div> -->
     
     </div>
     <footer id="piedep">
        <p>Ubicaación:Corina 3, Del Carmen, Coyoacán, 04100 Ciudad de México, CDMX<br>Contactos:<br>
         Créditos: Equipo 7: Julieta Flores, Daniela Cardenas, Santiago Gónzalez, Andrés Rojas</p>
    </footer>
</body>
</html>