<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clases</title>
</head>
<body>
    
    <header>
        <img src="../Imgs/ENP6.jpg" alt="Imagen prepa6" width="100" height="100"/>
        
        <img src="../Imgs/UNAM.png" alt="Imagen UNAM" widht="90" height="100"/>
    </header>
    <hr/>
    <main>
        
        <h1>Clases:</h1>
        <table border="2">
           <tbody>
 
                <tr>
                    <th>
                        <a>
                            <h4>Matematicas</h4>
                             <img src="../Imgs/Mate.jpg" alt="Imagen de la materia" width="200" height="180" />
                        </a>
                    </th>
                    <th>
                        <a>
                            <h4>Historia</h4>
                             <img src="../Imgs/historia.jpg" alt="Imagen de la materia" width="200" height="180" />
                        </a>
                    </th>
                    
                </tr>
                <tr>
                   <th>
                     Tareas pendientes:
                    <ul>
                        <a><li>Tarea 1</li></a>
                        <a><li>Tarea 2</li></a>
                        <a><li>Tarea 3</li> </a>
                    </ul>  
                   </th> 
                   <th>
                    Tareas pendientes:
                    <ul>
                        <a><li>Tarea a</li></a>
                        <a><li>Tarea b</li></a>
                        <a><li>Tarea c</li> </a>
                    </ul>
                   </th>
                    
                </tr>
            </tbody>
        </table>
     
    </main>
    <hr/>
    <footer>
        <p>Aula virtual prepa6</p>
    </footer>

</body>
</html>