<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tarea</title>
    <link rel="stylesheet" href="../Estilo/TareaEntregada.css">
</head>
<body>
    <header>
        <div>
             <img src="../Imgs/encabezado.png" width="100%" height="12%" alt="encabezado" id="encabezado"> 
        </div>
     </header>
     <div id="colDerecho"></div>
     <div id="colIzquierdo"></div>
     <main id="main">
        <div>
            <form action="../templates/PagInicio.php">
                <button class="salir">Volver al Inicio</button>
            </form>
        </div>
        <h2 id="titulo">Titulo de la actividad</h2>
        <h4 id="nombre">Nombre del alumno: </h4>
        <h4 id="puntaje">Puntaje máximo: 100 puntos </h4>
        <h4 id="tema">Tema:  </h4>
        <h4 id="fechaEntrega">Fecha de entrega: </h4>
        <h4 id="hora">Hora de entrega: </h4>
        <h4 id="enviado">Fecha de envío:</h4>
        <div id="indicaciones" >
            <h4>Indicaciones</h4>
            <p></p>
         </div>
        <h4 id="rubrica">Rúbrica</h4>
        <table border="2" id="tabla">
            <thead>
                <tr>
                    <th>Criterio</th>
                    <th>2 puntos</th>
                    <th>1 punto</th>
                    <th>0 puntos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Presentación</td>
                    <td>Perfecta</td>
                    <td>Fallas</td>
                    <td>Deficiente</td>
                </tr>
            </tbody>

        </table>
        <h5 class="dorado" id="arch">Archivos subidos:</h5>        
        <div id="submit"></div>
        <h5 class="dorado" id="retro">Retroalimentación:</h5>     
        <div id="retoalimentacion"></div>
        <h4 id="formato">Formato de entrega:</h4>
        <h4 id="calif">Calificación:</h4>
        <button type="submit" id="boton">Aceptar</button> 

    </main>
    <footer id="piedep">
        <p>Ubicación: Corina 3, Del Carmen, Coyoacán, 04100 Ciudad de México, CDMX<br>
            Créditos: Equipo 7: Julieta Flores, Daniela Cárdenas, Santiago Gónzalez</p>
    </footer>
    <script src="../dynamics/js/TareaEntregada.js"></script>
</body>
</html>