.cuadropendejopendejo {
    background-color: #d1a11d;
    position: absolute;

    width: 50%;
    height: 10%;
    border-radius: 10px;
    top: 20%;
    left: 25%;
}

.cuadropendejopendejo p {
    padding: 20px;
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}

.rec{
    width: 92px; 
    height: 769px; 
    border: 3px solid #555;
    float: left;

    background: #D1A11D;
}

.rec2{
    position: relative;
    width: 92px; 
    height: 769px; 
    border: 3px solid #555;
    background: #D1A11D;
   float: right;
}
.fondo{
    background-color: #092473;
    width: 100%;
    height: 119%;
    position: absolute;
}

.cuad{
    position: absolute;

    background-color: #C4C4C4;
    position: absolute;

    width: 70%;
    height: 50%;

    top: 35%;
    left: 15%;
    
}
.c1{
    top: 5%;
    left: 5%;
    position: absolute;
    width: 40%;
    height: 30%;   
    background-color: #FFFFFF;
}
.c2{
    top: 60%;
    left: 5%;
    position: absolute;
    width: 40%;
    height: 30%;    
    background-color: #FFFFFF;
}
.c3{
    top: 5%;
    left: 55%;
    position: absolute;
    width: 40%;
    height: 30%;    
    background-color: #FFFFFF;
}
.c4{
    top: 60%;
    left: 55%;
    position: absolute;
    width: 40%;
    height: 30%;   
    background-color: #FFFFFF;
}

.salir{
    background-color: #d1a11d;
    position: absolute;

    width: 12%;
    height: 5%;

    top: 10%;
    left: 15%;

    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: white;
}

.num{
    background-color: #d1a11d;
    position: absolute;

    width: 12%;
    height: 5%;

    top: 90%;
    left: 44%;

    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: white;
}
.contenedor{
    margin: auto;
    position: absolute;
    background: #001B85;
    width: 100%;
    height: 100%;
}

.Franja-amarilla{
    background: #D1A11D;
}

#Franja1 {
    width: 10%;
    height: 100%;
    float: left;
}

#Franja2 {
    float: right;
    width: 10%;
    height: 100%;
}

.Cuadro-blanco {
    position: absolute;

    background-color: #FFFFFF;
    position: absolute;

    width: 70%;
    height: 50%;

    top: 35%;
    left: 15%;
}

#cuadropendejo2 {
    top: 10%;
    left: 30%;
    width: 40%;
    border-radius: 10px;
}

.cuadropendejopendejo2 {
    background-color: #d1a11d;
    position: absolute;

    width: 50%;
    height: 20%;

    top: 52%;
    left: 25%;
}

.cuadropendejopendejo2 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800px;
    font-size: 200%;
    line-height: 48px;
    text-align: center;
    line-height: 80%;

    color: #FFFFFF;
}

.boton-1 {
    background-color: #d1a11d;
    position: absolute;

    width: 12%;
    height: 5%;

    top: 10%;
    left: 15%;

    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: white;
}

.indice {
    position: absolute;
    font-family: 'Inter';
    font-style: bold;
    width: 20%;
    height: 95%;
    background-color: #C4C4C4;
    font-weight: 500;
    font-size: 10px;
    padding: 20px;$
}

body{
    margin: auto;
} 