<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Untitled-1.css">
    <title>Foro</title>
</head>
<body>
    <header>
       <div class="imagenpendeja">
            <img src="./rectangulopendejopendejo.png" width="100%" height="12%" alt=""> 
       </div>
    </header>
    <div class="contenedor">

        <div class="Franja-amarilla" id="Franja1"></div>
        <div class="Franja-amarilla" id="Franja2"></div>

        <div><button class="boton-1">Volver a inicio</button></div>

        <div class="cuadropendejopendejo2" id="cuadropendejo2">
            <p>Foro de preguntas comunes respecto a cuestiones administrativas</p>
        </div>

        <div class="Cuadro-blanco">
            <div class="indice">
                <center><h1>ÍNDICE</h1></center>
                <p>-</p>
                <p>-</p>
                <p>-</p>
            </div>
        </div>

    </div>
</body>
</html>