@font-face {
    font-family: "titulos";
    src: url(../fonts/Roboto-Light.ttf);
}

body{
    margin: auto;
} 

.rec{
    position: absolute;
    width: 10%; 
    height: 100%; 
    border: 3px solid #555;
    float: left;

    background: #D1A11D;
    z-index: -1;
}

.rec2{
    position: absolute;
    width: 10%; 
    height: 100%; 
    border: 3px solid #555;
    background: #D1A11D;
    right: 0;
    z-index: -1;
}

.fondo{
    background-color: #092473;
    width: 100%;
    height: 122%;
    position: absolute;
    z-index: -2;
}


.salir{
    background-color: #d1a11d;
    position: absolute;

    width: 12%;
    height: 5%;

    top: 10%;
    left: 15%;

    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 800; */
    font-size: 0.8em;
    color: white;
}
.salir:hover{
    background-color: #ac820f;
    padding: 10px;
    font-size: 90%;
}

#piedep{
    position: relative;
    bottom: 0%;
    background-color: #C5DCFF;
    width:100vw;
    height:20%;
    line-height: 30px;
    text-align: center;
    color:#4f89c0;
    position:absolute;
    top:142vh;
}

#contenedor-encabezado{
    display: flex;
    justify-content: center;
}

#encabezado{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    background-color: #D1A11D;
    position: absolute;
    border-radius: 10px;
    border: 3px solid;
    border-color: black;
    color: white;

    width: 24%;
    height: 8%;

    top: 15%;

    font-size: 100%;

    font-family: "titulos";
}